body {
    background-color: rgb(255, 255, 255); /* Couleur de fond bleu marine */
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Supprime les marges par défaut du corps */
}

/* Style pour la bande noire en tête */
header {
    background-color: rgba(178, 98, 178, 0.741);
    color: #000000b0; /* Couleur du texte */
    padding: 70px 0 20px; /* Espace intérieur, descendant le titre */
    text-align: center; /* Centrage du contenu */
}

/* Style pour le titre */
h1 {
    margin: 0; /* Supprime les marges par défaut */
}

/* Style pour le menu de navigation */
nav {
    position: fixed; /* Positionnement fixe */
    top: 0; /* Collé en haut */
    left: 0; /* Collé à gauche */
    width: 100%; /* 100% de la largeur de la fenêtre */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond */
    text-align: center; /* Centre le contenu horizontalement */
    z-index: 1000; /* Assure que le menu apparaît au-dessus de tous les autres éléments */
}

/* Style pour les éléments de la liste */
nav ul {
    list-style: none; /* Suppression des marqueurs de liste */
    padding: 0; /* Suppression des marges intérieures */
}

nav li {
    display: inline-block; /* Affichage en ligne pour chaque élément de la liste */
    margin: 0 15px; /* Espacement horizontal entre les éléments */
}

nav a {
    text-decoration: none; /* Suppression du soulignement des liens */
    color: white; /* Couleur des liens */
    font-size: 20px; /* Taille de la police des liens */
}

footer {
    position: fixed; /* Positionnement fixe */
    bottom: 0; /* Collé en bas */
    right: 2%; /* Décalage de 2% vers la gauche */  
    text-align: center; /* Centre le contenu horizontalement */
}
/* Style pour centrer le texte au milieu de la page */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
